<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.professionalperformance.geotracker"
    android:installLocation="internalOnly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17" />

    <application
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false">
        
        <receiver android:name="com.professionalperformance.geotracker.BootBroadcastReceiver" android:enabled="true" android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.professionalperformance.geotracker.LocationPollerService"
            android:enabled="true" 
            android:process=":location_poll_process" />
        
        <service
            android:name="com.professionalperformance.geotracker.LocationUploaderService"
            android:enabled="true" />

        <activity
            android:name="com.professionalperformance.geotracker.EnforceGPSActivity"
            android:exported="true" />

        <receiver
            android:name="com.professionalperformance.geotracker.LocationDeviceAdminReceiver"
            android:description="@string/device_admin_description"
            android:label="@string/device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
